@import url("https://fonts.googleapis.com/css2?family=Courier+Prime");

html, body
{
    background-color: white;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header
{
    margin:0;
    padding:5px;
    background-color: white;
    color: black;
    border:1px solid black;
}

footer
{
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.main-content
{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    color: black;
    align-items: center;
}

.calculator-body
{
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    width: auto;
    /* max-width: 500px; */
    min-height: 500px;
}

.calculator-contents
{
    box-sizing: border-box;
    display:grid;
    /* grid-template-columns: repeat(7, 1fr); */
    width: 100%;
    height: 100%;
    border-radius: inherit;
    grid-template:  "AC     del ud  ud  d   d   d"
                    "s      c   t   sqr d   d   d"
                    "inv    sq  pow x   d   d   d"
                    "n7     n8  n9  div d   d   d"
                    "n4     n5  n6  pls d   d   d"
                    "n1     n2  n3  min d   d   d"
                    "dec    n0  e   e   d   d   d";
    grid-template-columns: repeat(7, 5em);
    grid-template-rows: repeat(7, 5em);
    padding: 15px;
    gap:2px;
}

.shadow-inset
{
    box-shadow: inset 2px 2px 2px 2px rgb(176, 176, 176);
}

.shadow-outset
{
    box-shadow: 5px 5px 5px rgb(160, 160, 160);
}

.calculator-display
{
    /* min-height: 6em;
    max-height: 16em; */
    display:flex;
    justify-content: left;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    box-shadow: inset 0 0 2px rgb(160,160, 160);

}

.calculator-display > *
{
    margin: 5px 2px 5px 2px;
}

.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	border: 1px solid black;
    height:5em;
    border-radius:10px;
}

.img-scale
{
    scale:40%;
}

table
{
    width: 100%;
}

/* 
table, td
{
    border:1px solid black;
    border-collapse: collapse;
}
*/

td
{
    text-align: right;
}

.blank
{
    background-color: inherit;
    aspect-ratio: 1 / 1;
}

.theme-numeric
{
	background-color: #cbd1d0;
}

.theme-numeric:hover
{
    background-color: #e4e9e8;
}

.theme-bright
{
	background-color: #cbb10b;
}

.theme-bright:hover
{
	background-color: #e7dfab;
}