:root
{
    --bodyBGColor: dimgrey;
    --displayBGColor: rgb(230, 226, 226);
    
    --edgeRadius: 10px;
    --aspectRatio: .75;

    --displayHeight: calc(10 * 1.5rem);
    --nColumns: 4;
    --nRows: 7;
}

html, body
{
    background-color: white;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
	font-family: 'Courier Prime', monospace;
}

header
{
    margin:0;
    padding:5px;
    background-color: white;
    color: black;
    border:1px solid black;
}

footer
{
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.main-content
{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    color: black;
    align-items: center;
}

.calculator-body
{
    display:flex;
    flex:1;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: var(--aspectRatio);
    background-color: purple;
    border-radius: var(--edgeRadius);
    
}

.calculator-contents
{
    height:100%;
    width:100%;
    aspect-ratio: inherit;
    border-radius: var(--edgeRadius);
    padding:10px;
    box-sizing: border-box;
    background-color: var(--bodyBGColor);
    display:flex;
    flex-direction: column;
    
}

.shadow-inset
{
    box-shadow: inset 2px 2px 2px 2px rgb(176, 176, 176);
}

.shadow-outset
{
    box-shadow: 5px 5px 5px rgb(160, 160, 160);
}

.calculator-display
{
    background-color: var(--displayBGColor);
    width:100%;
    height: calc(50% - 5px);
    min-height: var(--displayHeight);
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: end;
}

.calculator-display p
{
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.button-container
{
    border: 2px solid orange;
    background-color: rgb(255, 247, 247);
    width:100%;
    /* 
    This height calculation seems to still work
    WHY???
    */
    height: calc(100% - var(--displayHeight) - 5px);
    min-height: calc(7rem);
    border-radius: 5px;
    display:grid;
    grid-template:  "AC     del ud  ud"
                    "s      c   t   sqrt"
                    "inv    sq  pow x  "
                    "n7     n8  n9  div"
                    "n4     n5  n6  pls"
                    "n1     n2  n3  min"
                    "dec    n0  e   e";
    gap:2px;
    grid-template-rows: repeat(7, minmax(0, 1fr));
}

.button
{
    border:none;
    font-family: 'Courier Prime', monospace;
    padding:4px;
    min-height:1rem;
    border-radius: 2px;
    font-size:3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button img
{
	max-width: 75%;
    max-height: 75%;
}


table, td
{
    border:1px solid black;
    border-collapse: collapse;
}


td
{
    text-align: left;
}

.calculator-display td:first-child
{
    width:1em;
}

.calculator-display td:nth-child(2)
{
    text-align: right;
}

table tr
{
    height: 2em;
}

table
{
    
    table-layout: auto;
    width: 100%;
	height: auto;
    
}

.theme-numeric
{
	background-color: #cbd1d0;
}

.theme-numeric:hover
{
    background-color: #e4e9e8;
}

.theme-action
{
	background-color: rgb(245, 186, 76);
}

.theme-action:hover
{
	background-color: rgb(250, 216, 152);
}

.theme-op
{
    background-color: rgb(108, 192, 231);
}

.theme-op:hover
{
    background-color: rgb(176, 230, 255);
}